body {
  margin: 0;
  font-family: Fredoka, sans-serif;
  background: url(img/pexels-pixabay-45853.jpg);
  background-position: center;
  background-size: cover;
}

header {
  background-color: #bebe3aa2;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline dotted;
  position: relative;
}

header a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a49c58cd;
  /* Green */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  right: 10px;
}

header a:hover {
  background-color: #616037d1;
  font-size: large;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.box {
  width: calc(33.33% - 20px);
  /* Adjust the width as per your requirement */
  background-color: #e6e4ae59;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px;
  text-align: center;
  justify-content: center;
  font-size: 1.25rem;
}

.box h2 {
  margin-bottom: 10px;
}

.edit-button {
  padding: 10px 20px;
  background-color: #978921;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: fredoka, sans-serif;

}

.newsletter {
  box-shadow: 5px 5px 5px black;
  border-radius: 15px;
  padding: 10px;
  margin: 0 auto;
  max-width: 1000px;
  /* Adjust width as needed */
  text-align: center;
  position: relative;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.newsletter h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}